extends layout 
block content
    div.logo
    <br>
    <br>
    <br>

    img(src='/headings/what.png')

    <br>
    <br>
    <H4> Bringing together the collective talents of four budding Coder-Academy students, Shauna, Oliver, Kristy and Dave have set out to complete a Hackaton.  </H4>
    <H4> With the theme of post-Covid days, they have decided to tackle a problem dear to their hearts, minds, bodies and bowels </H4>

    <br>
    <br>
    <br>
    
    img(src='/headings/pooblem.png')
    <br>
    <br>
    <H4> Covid has showed us the dire consequences of mass hysteria and herd mentality, with many citizens panic buying essential items and causing others to go without. </H4>

    <br>
    <br>
    <br>

    img(src='/headings/solootion.png')
    <br>
    <br>
    <H4> A subscription toilet paper service which delivers to your door once a month so you don’t have to rely on coles/aldi and you will never run out again! </H4>