extends layout 
block content
    div.logo
    <br>
    <br>
    <br>

    img(src='/headings/what.png')

    <br>
    <br>
    <H4> Bringing together the collective talents of four budding Coder-Academy students, Shauna, Oliver, Kristy and Dave have set out to complete a Hackathon.  </H4>
    <br>
    <H4> With the theme of post-Covid days, they have decided to tackle a problem dear to their hearts, minds, bodies and bowels </H4>

    <br>
    <br>
    <br>
    
    img(src='/headings/pooblem.png')
    <br>
    <br>
    <H4> If nothing else, Covid-19 has showed us the dire consequences of mass hysteria and herd mentality, with many citizens panic buying essential items and causing others to go without. </H4>
    <br>
    <H4> This really hit home with a lot of people as they had to ration their essential items not knowing when the next supplies would be available! </H4>
    <br>
    <br>
    <br>

    img(src='/headings/solootion.png')
    <br>
    <br>
    <H4> A subscription toilet paper service which delivers a fresh box of rolls to your door each month so you never have to rely on Coles/Woolies/Aldi and you will never run out again! </H4>
    <br>
    <H4> It's as simple as choosing your favourite prints, how many you want, then kick back and spend hours learning and laughing on the toilet! </H4>
    <br>
    <br>
    <a href="/api/" class="btn btn-warning">BACK</a>