extends layout 
block content
 .main.container
        .row
            .col-md-12.col-md-offset-3
                div.logo
                <br>
                <br>
                <br>
                img(src='/headings/what.png')
                <br>
                <br>
                <H4> Bringing together the collective talents of four budding junior developers from Coder-Academy, </H4>
                <br>
                <H4> Shauna, Oscar, Kristy and Dave have set out to complete a Hackathon in less than 3 days.  </H4>
                <br>
                <H4> With the theme of post-Covid-19, they have decided to tackle a problem dear to their hearts, minds, bladders and bowels by bringing a loo-nique business idea to life. </H4>
                <br>
                <H4> The team worked great collaboratively with everyone giving it 100%, but special credit must be given to one talented individual who put the team on the right path by absolutely killing <a href="https://i.imgur.com/NSRkC53.jpg" style="color:orange" target="_blank">the back-end!</a> <br>... but not like the aftermath of a hot curry. </H4>
                <br>
                <br>
                <br>
                
                img(src='/headings/pooblem.png')
                <br>
                <br>
                <H4> If nothing else, Covid-19 has showed us the dire consequences of mass hysteria and herd mentality, with many citizens panic buying essential items and causing others to go without. </H4>
                <br>
                <H4> This really hit home with a lot of people as they had to ration their essentials not knowing when the next supplies would be available! </H4>
                <br>
                <br>
                <H4> It proved to be extremely problematic to those of us who really enjoy our toilet time...... </H4>
                
                <br>
                <br>
                <br>


                img(src='/headings/solootion.png')
                <br>
                <br>
                <H4> The answer to this problem is a subscription toilet paper service which delivers a fresh box of rolls to your door each month so you never have to rely on Coles/Woolies/Aldi and you will never run out again! </H4>
                <br>
                <H4> It's as simple as choosing your favourite themes and prints, selecting how many you want delivered, and then all you need to do is kick back, relax and spend hours learning and laughing in the comfort of your favourite poopatorium! </H4>
                <br>
                <br>
                <a href="/" class="btn btn-warning">BACK</a>
                