doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.css')
    <link href="/logo/icon.jpg" rel="icon" type="image/x-icon" />
  body
    div.logo
        <a href='/api/'><img src='/logo/translucent_read_it_n_wipe.png'></a>

    block content