doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.css')
    <link href="/logo/icon.jpg" rel="icon" type="image/x-icon" />
  body


    <nav class="navbar navbar-expand-md navbar-dark bg-grey fixed-bottom">
        

        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="/api/" class="nav-item nav-link">Home</a>
                <a href="/api/order" class="nav-item nav-link" >Place An Order</a>
                <a href="/api/" class="nav-item nav-link">My Orders</a>
                <a href="/api/about" class="nav-item nav-link">About</a>
                <a href="/api/users" class="nav-item nav-link">Sign Up</a>
                <a href="/api/login" class="nav-item nav-link">Log In</a>
                <a href="/api/login/logout" class="nav-item nav-link">Log Out</a>
            </div>
        </div>
    </nav>

    div.logo
        <a href='/api/'><img src='/logo/translucent_read_it_n_wipe.png'></a>

    block content