extends layout

block content
     .main.container
        .row
            .col-md-12.col-md-offset-3
                h1 My Subscriptions
                each order in orders
                    div
                        h2 Subscription for #{order.name}
                        p Size: #{order.subscription.size}
                        p Category: #{order.rolls.category}
                        button Update subscription

                        h4 Next Delivery
                        p Expected arrival date 30/6/2020
                        p Rolls: Storm Poopers
                        p Size: #{order.subscription.size}
                        button Update this delivery