body {
    padding: 40px 10px;
    background-color: #eee;
    
}

.logo {
    text-align: center;
    margin-top: 30px;
}

.heading {
    text-align: center;
    margin-top: 40px;
}

.rollImage {
    width: 200px;
}

.card-group{
	
}

.roll-card {
	width: 400px;
}

/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
    background-color: rgb(17, 16, 16);
    overflow: hidden;
    position: fixed;
    top: 0vh;
    bottom: 93vh;
    width: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: rgb(247, 147, 30);
    color: black;
  }
  